.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--headerBackgroundColor);
    height: 100%;
    max-height: var(--headerHeight);
    min-height: var(--headerHeight);
}

.header_left {
    padding-left: 20px;
}

.header_right {
    display: flex;
    padding-right: 20px;
}

.header_right > .option {
    margin-left: 20px;
}

.header_right > .option:last-child {
    margin-left: 15px;
}